<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anchor</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="index.js">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>
<body>
    <div class="wrap">

        @@include('./header.html')
        @@include('./welcome.html')
        @@include('./why.html')
        @@include('./started.html')
        @@include('./latest-projects.html')
        @@include('./our.html')
        @@include('./footer.html')

    </div>



    <script>

        // scroll to the anchor
        $(document).ready(function(){
            $("#main__navigation").on("click","a", function (event) {
                event.preventDefault();
                var id  = $(this).attr('href'),
                top = $(id).offset().top;
                $('body,html').animate({scrollTop: top}, 2000);
            });
        });
    </script>

</body>
</html>